.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.squares {
    height: 100px;
    width: 10%;
    margin: 1.25%;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 2s;
}
